<nav style="margin-bottom:1%">
    <div class="nav-wrapper indigo">
      <img style="height: auto; width: auto; max-height: -webkit-fill-available;" src="https://firebasestorage.googleapis.com/v0/b/twetzel-a07f2.appspot.com/o/logo.png?alt=media&token=03163384-242a-4530-9d14-3409521b721a" class="center brand-logo">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="https://tsa-software-2024.pages.dev/?sessionid=<%=user.token%>">App</a></li>

        <li><a href="/users/logout">Logout</a></li>
      </ul>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/users/list">Users</a></li>
      </ul>
    </div>
  </nav>