<nav style="margin-bottom: 1%">
  <div class="nav-wrapper indigo">
    <img
      style="height: auto; width: auto; max-height: -webkit-fill-available"
      src="https://tsaweb.org/images/default-source/competitions-programs/program-logos/tsa-logoff2c085a4556450589a0a1a426c8e98f.png?sfvrsn=63b79446_0"
      class="center brand-logo"
    />
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a href="https://tsa-software-2024.pages.dev/?sessionid=<%=user.token%>">App</a></li>

      <li><a href="/users/logout">Logout</a></li>
      
    </ul>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="/dashboard">Dashboard</a></li>
    </ul>
  </div>
</nav>

<!-- Take a look at the home page -->
