<% if (user.isAdmin==1) {%> <%- include("./navbars/adminnavbar")%> <% } else if (user.token != undefined){%> <%- include("./navbars/usernavbar")%> <%} else {%>

<nav style="margin-bottom: 1%">
  <div class="nav-wrapper indigo">
    <img style="height: auto; width: auto; max-height: -webkit-fill-available" src="https://firebasestorage.googleapis.com/v0/b/twetzel-a07f2.appspot.com/o/logo.png?alt=media&token=03163384-242a-4530-9d14-3409521b721a" class="center brand-logo" />
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/signup">Signup</a></li>
    </ul>
  </div>
</nav>

<!-- Take a look at the home page -->

<%}%>
